@import '~antd/dist/antd.css';

b {
  margin-right: 5px;
}



h1,
h5 {
  text-align: center;
}

ul {
  padding: 0 10px;
}

.statisticCard {
  padding: 30px;
  background: rgb(242, 242, 242);
  margin: 10px 0 !important;
  flex-wrap: wrap;
}

.statisticItem {
  margin: 5px 0;
}

.news {
  padding: 0 10px;
}

.container {
  margin: 0 20%;
}

@media screen and (max-width:1280px) {
  .container {
    margin: 0;
  }
}

.ant-statistic {
  text-align: center;
}